.popup-img__close {
  display: block;
  position: absolute;
  background: url("../../../images/close.svg") 100% 100% no-repeat;
  background-position: center;
  width: 26px;
  height: 26px;
  right: 4px;
  top: -45px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
