.popup-add__title {
  color: black;
  /*text-align: center;*/
  min-width: 238px;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 54px;
}
@media screen and (min-width: 480px) {
  .popup-add__title {
    align-self: flex-start;
  }
}
@media screen and (min-width: 780px) {
  .popup-add__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    /*margin-top: 34px;*/
  }
}
