.enter__save {
  background: #FFFFFF;
  border-radius: 2px;
  height: 48px;
  margin-top: 143px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (min-width: 430px) {
  .enter__save {
    margin-top: 186px;
    font-size: 18px;
    line-height: 22px;
  }
}
