.footer {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background: black;
}

@media screen and (min-width: 768px) {
  .footer {
    width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: calc(100% - 400px);
    font-size: 18px;
    line-height: 22px;
  }
}
