.popup-img {
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*display: none;*/
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 1.666s, 0s;
  transition-delay: 0s, 1.666s;
}
