.popup-edit__container {
  max-width: 430px;
  background-color: #fff;
  padding: 25px 22px 25px;
  display: flex;
  flex-direction: column;
  /*height: 322px;*/
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}
@media screen and (min-width: 480px) {
  .popup-edit__container {
    padding: 32px;
  }
}
@media screen and (min-width: 780px) {
  .popup-edit__container {
    width: 430px;
  }
}
