.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #545454;
  max-width: 880px;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 35px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    width: calc(100% - 400px);
  }
}
